
* {
  box-sizing: border-box;
}

html {
  height: inherit;
  font-size:100%;
  overflow:auto;
}

body {
  @include font-size(22px);
  color: #707070;
}

p {
  @include font-size(22px);
}

body,
.ui.text.container {
  font-family: 'webfontregular', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family:  'François One', sans-serif;
  color: #000;
}

header {
  text-align: center;
  h2 {
    margin-bottom: 1.5rem !important;
  }
  blockquote{
    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 4px;
      background-color: #656565;
      margin: 2rem auto 1.5rem;
    }
  }
}

#wrapper {
  min-height: 100vh;
  position: relative;
  position: relative;
}

.container-large {
  max-width: 1400px;
  margin: 2rem auto;
}

.site-title {
  h1 {
    font-family: lights_of_the_stardustregular;
    font-weight: normal;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
  }
  h2 {
    display: none;
    font-family: lights_of_the_stardustregular;
    font-weight: normal;
    text-align: center;
    font-size: 2.9rem;
    margin-top: 0;
  }
  a {
    color: rgba(0,0,0,.87);
    transition: color 0.15s ease-in-out;
    &:hover {
      color: $primary;
    }
  }
}

.contact-section {
  background-color: #f3f3f3;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

:focus {
  outline: none
}

@media screen and (max-width: 1400px) {
  .container-large {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .container-large {
    padding-left: 7px;
    padding-right: 7px;
    margin: 0 auto;
  }

  .content-section {
    background-color: #fff;
    padding: 1rem 0;
  }

  #wrapper {
    padding-bottom: 48px;
  }

  .column {
    width: 100%;
  }
}