.spacer {
  display: block;
  width: 60px;
  height: 4px;
  background-color: #656565;
  margin: 2rem auto 1.5rem;

  &.spacer-right {
    margin-right: 0;
  }

  &.spacer-left {
    margin-left: 0;
  }

  &.spacer-invisible {
    opacity: 0;
  }

  &.spacer-mini {
    width: 30px;
    background-color: #333;
    height: 3px;
    margin: 1.5rem auto 2rem;
  }
}