$primary: #ff4853;
$space: 80px;

/**
 * Transition between projects
 */
.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity 5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.fadein-left-enter-active, .fadein-left-leave-active {
  margin-left: 60px;
  opacity: 1;
  transition: all 5s ease-in-out;
}
.fadein-left-enter, .fadein-left-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  margin-left: 60px;
}

.projects-list {
  .project {
    width: calc(50% - 40px) !important;
    margin-bottom: 80px !important;
    box-sizing: border-box;
    .image{
      position: relative;
      line-height: 0;
      padding-top: 60%;
      overflow: hidden;
      border: 1px solid #eee;
      box-shadow: 0 3px 9px rgba(0,0,0,0.2);
      transition: box-shadow .3s ease-in-out;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &::after {
        content: "";
        font-family: Icons;
        opacity: 0;
        color: $primary;
        background-color: rgba(#fff, 0);
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &:hover {
      cursor: pointer;
      .image{
        box-shadow: 0 3px 12px rgba(0,0,0,0.3);
        &::after {
          content: "\f002";
          opacity: 1;
          color: $primary;
          background-color: rgba(#fff, 0.8);
          transition: all 0.3s ease-in-out;
        }
      }
      .project-title {
        margin-left: 15px;
        color: $primary;
      }
    }
  }
}

.content-section .header {
  padding: 0 0 1rem 0;
}

.fancybox {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 66%;
  margin-bottom: 2rem;
  box-shadow: 0 3px 9px rgba(0,0,0,0.2);
  transition: box-shadow .3s ease-in-out;
  img {
    position: absolute;
  }
  &::after {
    content: "";
    font-family: Icons;
    opacity: 0;
    color: $primary;
    background-color: rgba(#fff, 0);
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 12px rgba(0,0,0,0.3);
    &::after {
      content: "\f002";
      opacity: 1;
      color: $primary;
      background-color: rgba(#fff, 0.8);
      transition: all 0.3s ease-in-out;
    }
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

.tech-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
  height: 50px;
  li {
    margin-right: 20px;
  }
}

.project-title {
  font-family: "francois One";
  margin-top: 1rem;
  font-weight: normal;
  transition: margin-left 0.3s ease-in-out;
}



@media only screen and (max-width: 480px) {
  .projects-list .project {
    width: 100% !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;

    img {
      margin-top: 0 !important;
    }
  }
}