$primary: #ff4853;
$space: 50px;
.projects-list {
  display: flex;
  flex-flow: wrap;
  width: calc(100% + #{$space});
  margin-left: -#{$space};
  .project {
    position: relative;
    width: calc(50% - #{$space});
    margin-left: #{$space};
    margin-bottom: #{$space};
    &:nth-child(2n) {
      margin-top: #{$space};
    }
    .image{
      position: relative;
      line-height: 0;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: width 0.3s ease-in-out;
        background-color: rgba($primary,.8);
      }
    }
    &:hover {
      cursor: pointer;
      .image{
        &::after {
          width: 100%;
        }
      }
      .project-title {
        margin-left: 15px;
      }
    }
  }
}

.content-section .header {
  padding: 0 0 3rem 0;
}

.fancybox {
  position: relative;
  display: block;
  &::after {
    content: "";
    font-family: Icons;
    opacity: 0;
    color: transparent;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    &::after {
      content: "\f002";
      opacity: 1;
      color: $primary;
      background-color: rgba(#fff, 0.8);
      transition: all 0.3s ease-in-out;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

.tech-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
  height: 50px;
  li {
    margin-right: 20px;
  }
}

.project-title {
  font-family: "francois One";
  font-size: 2rem;
  margin-top: 0;
  font-weight: normal;
  transition: margin-left 0.3s ease-in-out;
}