$primary: #F03861;

.fadeinleft-enter-active,
.fadeinleft-leave-active {
  transition: all 0.5s ease-in-out;
}
.fadeinleft-enter,
.fadeinleft-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  margin-left: 60px;
}

.masterhead {
  .header-column {
    text-align: right;
    .header-inner{
      border-left: none !important;
      border-right: 10px solid #F03861;
      text-align: right;
    }
    &+.column {
      text-align: center;
    }
  }
}
.fade-out-left {
  opacity:0;
  margin-right: 60px;
  margin-top: -30px;
}
.fade-in-left {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  margin-right: inherit;
}
.content-section {
  background-color: #fff;
  padding: 4rem 0;
  .container {
    width: 100%;
    max-width: 1600px !important;
  }
  .header-column {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    .header-inner {
      display: inline-block;
      padding: 0 2rem;
      h2 {
        font-family: 'webfontregular', serif;
        font-size: 4rem;
        color: $primary;
      }
      h3 {
        font-family: 'webfontregular', serif;
        font-size: 2rem;
        line-height: 1.6;
        font-weight: normal;
      }
    }
  }
  &:nth-child(even) {
    .header,
    .header-right {
      text-align: right;
      overflow: hidden;
      .header-inner {
        border-right: 10px solid $primary;
      }
    }
    .section-content {
      text-align: right; }
  }
  &:nth-child(odd)  {
    .header,
    .header-left {
      text-align: left;
      overflow: hidden;
      .header-inner {
        border-left: 10px solid $primary;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .homepage {
    .content-section:not(.masterhead) {
      .grid .column:not(.header-column) {
        display: none;
      }
    }
  }
  .content-section {
    .header {
      .header-inner {
        h2 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.8rem;
          line-height: normal;
        }
      }
    }
    &:nth-child(odd) {
      .header .header-inner {
        padding-right: 0;
      }
    }
    &:nth-child(even) {
      .header .header-inner {
        padding-left: 0;
      }
    }
  }
  img {
    max-width: 100% !important;
  }
}