$primary: #F03861;

.fadeleft-enter-active,
.fadeleft-leave-active {
  transition: all 0.5s ease-in-out 1.5s;
}
.fadeleft-enter,
.fadeleft-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  margin-left: 160px;
}

.faderight-enter-active,
.faderight-leave-active {
  transition: all 0.5s ease-in-out 1.5s;
}
.faderight-enter,
.faderight-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  margin-left: -160px;
}

.masterhead {
  .header-column {
    text-align: right;
    .header-inner{
      border-left: none !important;
      border-right: 10px solid #F03861;
      text-align: right;
    }
    &+.column {
      text-align: center;
    }
  }
}

.content-section {
  background-color: #fff;
  padding: 4rem 0;
  .container {
    width: 100%;
    max-width: 1600px !important;
  }
  .header-column {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    .header-inner {
      display: inline-block;
      padding: 0 2rem;
      text-align: right;
      border-left: none !important;
      border-right: 10px solid #F03861;
      h2 {
        font-family: 'webfontregular', serif;
        font-weight: bold;
        font-size: 4rem;
        color: $primary;
      }
      h3 {
        font-family: 'webfontregular', serif;
        font-size: 2rem;
        line-height: 1.6;
        font-weight: normal;
      }
    }
  }
  .section-content {
    text-align: right;
  }
  &:nth-child(even) {
    .header,
    .header-right {
      text-align: left;
      overflow: hidden;
      .header-inner {
        text-align: left;
        border-right: none;
        border-left: 10px solid $primary !important;
      }
    }
    .section-content {
      text-align: left;
    }
  }
  &:nth-child(odd)  {
    .header,
    .header-left {
      text-align: right;
      overflow: hidden;
      .header-inner {
        border-left: 10px solid $primary;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .homepage {
    .content-section:not(.masterhead) {
      .grid .column:not(.header-column) {
        display: none;
      }
    }
  }
  .content-section {
    .header {
      .header-inner {
        border-left: 10px solid #F03861 !important;
        border-right: none !important;
        text-align: left;
        padding: 0 0 0 2rem !important;
        h2 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.8rem;
          line-height: normal;
        }
      }
    }
    .section-content {
      text-align: left;
    }
    &:nth-child(odd) {
      .header .header-inner {
        //padding-right: 0;
      }
    }
    &:nth-child(even) {
      .header .header-inner {
        padding-left: 0;
      }
    }
  }
  img {
    max-width: 100% !important;
  }
}